# Archivos de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de registro
*.log
*.out

# Dependencias empaquetadas
/bundle

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.*

# Directorio de caché
cache/
tmp/
temp/

# Varios
/out
/dist
/build
/coverage

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo
